#header {

}

#footer {
	background-color: #F2F2F2;
	position: absolute;
	bottom: 0;
	width: 99%;
	height: 40px;
	border-top: 1px solid #E4E4E4;
	display: block;
	min-width: 980px;
}

.f_links {
	color: #666;
	text-decoration: none;
	padding-left: 27px;
	margin: 0;
	white-space: nowrap;
	display: inline-block;
	line-height: 40px;
}

.f_links:hover {
	text-decoration: underline;
}

.f_link:visited {
	color: #609;
}
#l_footer {
	margin-left: 30px;
	white-space: nowrap;
	font-size: small;

}

#r_footer {
	float: right;
	margin-right: 30px;
	font-size: small;
	white-space: nowrap;
}

* {
	font-family: arial, sans-serif;
	-webkit-text-size-adjust: 100%;
}