#searchBar {
	border: 1px solid #D9D9D9;
	max-width: 584px;
	width: 584px;
	height: 30px;
	display: block;

}

#searchBar:hover {
	border: 1px solid #a0a0a0;
}

.mic-logo {
	height: 23px;
	width: 17px;
}

.buttons {
	display: block;
	color: #757575;
}

#bSearch{
	background-color: #F2F2F2;
	border: 0;
	padding: 0;
	display: inline-block;
	border: 1px solid #c6c6c6;
	color: #757575;
	font: 13.3px arial;
}

#bLucky{
	background: #F2F2F2;
	border: 0;
	padding: 0;
	display: inline-block;
	color: #757575;
	border: 1px solid #c6c6c6;
	font: 13.3px arial;
}


#bLucky:hover{
	border-top: 1px solid #E4E4E4;
}

#bSearch:hover{
	border-top: 1px solid #E4E4E4;
}


#header {
}


#main_body {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

* {
	font-family: arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-appearance: none;
}